---
import { Image } from "astro:assets";
import Button from "./widgets/button.astro";
import ServicesCard from "./widgets/servicesCard.astro";
import Accordion from "./widgets/accordion.astro";

interface FAQProps {
  title: string;
  details: string;
}

interface SectionProps {
  title: string;
  faqs: Array<FAQProps>;
}

const { title, faqs } = Astro.props as SectionProps;
---

<section class="flex justify-center items-center py-20 bg-black">
  <!-- content -->
  <div
    class="lg:w-[75%]  max-w-[1440px] w-full lg:px-0 px-4 flex flex-col h-full justify-center items-center space-y-8"
  >
    <h1
      class="text-4xl lg:text-5xl font-semibold text-white leading-normal lg:leading-[74px] tracking-tight text-center"
      set:html={title}
    />

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-10 gap-y-5 w-full">
      {faqs.map((faq) => <Accordion title={faq.title} details={faq.details} />)}
    </div>
  </div>
</section>
