---
import "../assets/styles/tailwind.css";
import Header from "../components/widgets/header.astro";
import Footer from "../components/widgets/footer.astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/" />
    <link
      href="https://db.onlinewebfonts.com/c/d007f8c27669ddc95d732d198642023c?family=Roboto+Serif"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/d9d77150b3dda1eea88a7a8f979e7711?family=DM+Sans+Regular"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ventori</title>
  </head>
  <body class="">
    <Header
      logo="/src/assets/logo.png"
      button={			{
		text: "Get your Quote",
		icon: "arrow.svg"
		
	}}
      links={[
        {
          url: "#",
          text: "Home",
        },
        {
          url: "#",
          text: "Services",
        },
        {
          url: "#",
          text: "About",
        },
        {
          url: "#",
          text: "Contact",
        },
      ]}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-black">
          <Image
            src={images['/src/assets/hero-bg.png']()}
            alt=""
            class="h-full w-full object-cover opacity-5"
          />
        </div>
      </Fragment>
    </Header>

    <slot />

	<Footer
	logo="/src/assets/logo.png"
	para="We’re a team of digital creator and strategic innovator, to be your partner for your digital growth."
	links = {[
		{
			title: "Pages",
			links: [
				{
					url: "#",
					text: "Home",
				},
				{
					url: "#",
					text: "Services",
				},
				{
					url: "#",
					text: "Contact",
				},
				{
					url: "#",
					text: "Portfolio",
				},
				
			],
		},
		{
			title: "",
			links: [
				{
					url: "#",
					text: "Legal Notice",
				},
				{
					url: "#",
					text: "GDPR",
				},
				{
					url: "#",
					text: "Cookies",
				},
			],
		},
		{
			title: "Services",
			links: [
				{
					url: "#",
					text: "Web Design",
				},
				{
					url: "#",
					text: "SEO",
				},
				{
					url: "#",
					text: "Ad Campaign",
				},
				{
					url: "#",
					text: "Marketing",
				},
			],
		},
	]}
	button={			{
		title:'Contact',
		text: "Get your Quote",
		icon: "arrow.svg"
		
	}}

	items={[
		{
			title: "Designed by Ventori",
			para: "Copyright ©2025. All rights reserved.",
		},
		{
			title: "Contact Us",
			para: "+0 12 457 4578",
		},
		{
			title: "Address",
			para: "119 Tanglewood Lane Gulfport, MS 39503",
		},
	]}

  socials={[
    {
      url: "#",
      icon: "/src/assets/fb.png",
    },
    {
      url: "#",
      icon: "/src/assets/linkedin.png",
    },
    {
      url: "#",
      icon: "/src/assets/insta.png",
    },

  ]}
	/> 
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  :global(body) {
    font-family: "DM Sans", sans-serif;
  }

  :global(h1) {
    font-family: "Roboto Serif", serif;
  }
  :global(h2) {
    font-family: "Roboto Serif", serif;
  }
  :global(h3) {
    font-family: "Roboto Serif", serif;
  }
  :global(h4) {
    font-family: "Roboto Serif", serif;
  }
  :global(h5) {
    font-family: "Roboto Serif", serif;
  }
  :global(h6) {
    font-family: "Roboto Serif", serif;
  }
  :global(p) {
    font-family: "DM Sans", sans-serif;
  }
  :global(a) {
    font-family: "DM Sans", sans-serif;
  }
  :global(button) {
    font-family: "DM Sans", sans-serif;
  }
  :global(input) {
    font-family: "DM Sans", sans-serif;
  }
</style>
